<h1>Welcome!</h1>

<form action="greeter" method="post">
  <label for="name">What's your name?</label>
  <input type="text" name="name" id="name">

  <p><input type="submit" value="Continue"></p>
</form>